# Village generation
public-f net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool f_210559_ # rawTemplates
public-f net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool f_210560_ # templates
public net.minecraft.world.entity.ai.behavior.GiveGiftToHero f_147550_ # GIFTS

# Structure fix
public-f net.minecraft.util.datafix.fixes.StructuresBecomeConfiguredFix f_207676_ # CONVERSION_MAP
public net.minecraft.util.datafix.fixes.StructuresBecomeConfiguredFix$Conversion # Conversion